/* RESET BODY */
body {
    margin: 0;
}

/* CONTAINER */ 
.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}

/* MEDIA QUERIES */

/* RESPONSIVE TYPOGRAPHY */

// SMALL
body { font-size: 87.5%; }

@media (min-width: $breakpoint-small) {
    body { font-size: 100%; }
}

@media (min-width: $breakpoint-large) {
    body { font-size: 112.5%; }
}